
@if (shopping) {
    <div class="shopping_items">
        <img src="{{ shopping.product.image_url }}" alt="capacete">
        <div class="info_shopping">
            <h4>{{ shopping.product.name }}</h4>
                <ul>
                    <li>Quantidade: {{ shopping.quantity_products }}</li>
                    <li>Total: {{ shopping.value | currencyBr }}</li>
                </ul>
            @if (shopping.cancelled) {
                <h4>Situação: <b [style]="{'color': '#fc0000'}">Cancelada</b></h4>    
            } @else{
                @if (shopping.payment_status && shopping.status) {
                    <!--  
                    Pode ser cancelada, pois falta algum processo do lado do vendendor ainda
                    -->
                    <h4>Situação: <b [style]="{'color': '#0b8300'}">Em aberto</b></h4>
                } @else if (!shopping.payment_status && shopping.status) {
                    <!-- Falta pagar, então pode ser cancedada ainda -->
                    <h4>Situação: <b [style]="{'color': '#0b8300'}">Aguardando pagamento</b></h4>
                } @else if (!shopping.status && shopping.payment_status) {
                    <!-- Finalizada, não pode ser canceldada mais -->
                    <h4>Situação: <b [style]="{'color': '#0b8300'}">Finalizada</b></h4>
                }
            }
        </div>
        <div class="shopping_actions">
            @if (shopping.cancelled) {
                <button class="actions_button" (click)="navigateToShopping()" >Repetir compra</button>
                <button class="actions_button" (click)="navigateToDetailShopping()">Ver detalhes</button>
            } @else {
                @if (shopping.payment_status && shopping.status) {
                    <button class="actions_button" (click)="navigateToShopping()" >Repetir compra</button>
                    <button class="actions_button" (click)="navigateToDetailShopping()">Ver detalhes</button>
                    <button class="delete_shopping_cart" (click)="handleDeleteShoppingCart()">Cancelamento</button>
                } @else if (!shopping.payment_status && shopping.status) {
                    <button class="finish_shopping_cart" (click)="navigateToPayment()">Pagamento</button>
                    <button class="delete_shopping_cart" (click)="handleDeleteShoppingCart()">Cancelamento</button>
                    <button class="actions_button" (click)="navigateToDetailShopping()">Ver detalhes</button>
                } @else if (!shopping.status && shopping.payment_status) {
                    <button class="actions_button" (click)="navigateToShopping()" >Repetir compra</button>
                    <button class="actions_button" (click)="navigateToDetailShopping()">Ver detalhes</button>
                }
            }
        </div>
    </div>
} @else if (shoppingCart){
    <div class="shopping_items">
        <img src="{{ shoppingCart.product.image_url }}" alt="capacete">
        <div class="info_shopping">
            <h4>{{ shoppingCart.product.name }}</h4>
            <ul>
                <li>
                    <span>Quantidade: {{ quantityProducts }}</span>
                    <button class="actions_products_cart" (click)="decrementQuantity()">-</button>
                    <button class="actions_products_cart" (click)="incrementQuantity()">+</button>
                </li>
                <li>Total: {{ calculateValueShopping()| currencyBr }}</li>
            </ul>
            <h4>Situação: Em aberto</h4>
        </div>
        <div class="shopping_actions">
            <button class="finish_shopping_cart">Finalizar compra</button>
            <button class="delete_shopping_cart" (click)="confirmDeleteShoppingCart()">Apagar</button>
        </div>
    </div>
}

