<app-header></app-header>
<main>
    @if (product) {
        <div class="container_product">
            <div class="product_container">
                <h4>{{ product.name | shorten: 35 }}</h4>
                <div class="image_container">
                    <img src="{{ product.image_url }}" alt="{{ product.name }}">
                </div>
            </div>

            <div class="product_options">
                <div class="product_shopping">
                    <h4>{{ product.name }}</h4>
                    <h4>Por apenas {{ product.price| currencyBr }}</h4>
                    <h4>Em estoque: {{ product.amount }}</h4>
                    <div class="amount_products_shopping">
                        <h4>Quantidade: {{ quantityProducts }} </h4>
                        <button (click)="decrementQuantity()">
                            -
                        </button>
                        <button (click)="incrementQuantity()">
                            +
                        </button>
                    </div>
                    <div class="actions_shopping_products">
                        <button id="add_cart">Adicionar no carrinho</button>
                        <button id="buy_now">Comprar produto</button>
                    </div>
                </div>
            </div>
            <div class="divider"></div>
            <div class="info_product">
                <h4>Descrição:</h4>
                <p>{{ product.description }}</p>
            </div>
        </div>
    }@else {
        <app-spinner-page-info></app-spinner-page-info>
    }

</main>