<div id="menu_mobile" #menuMobile>
    <div class="menu-mobile-logo">
        <img src="../../../assets/logo_new.png" alt="logo">
    </div>
    @if (isAuthenticated) {
        <a (click)="navigateToUserPage()">Minha conta</a>
        <a (click)="logout()">Sair</a>
    }@else {
        <a (click)="navigateToCreateUser()">Crie sua conta</a>
        <a (click)="navigateToLogin()">Entre</a>
    }
    <a id="closedMenu" (click)="closeMenu()">X</a>
</div>
<header>
    <div class="header-container">
        <div class="header-logo">
            <a href="/">
                <img src="../../../assets/logo_new.png" alt="logo">
            </a>
        </div>

        <div class="header-input">
            <input type="text" [(ngModel)]="searchFormData.serach" placeholder="Pesquise por produtos o por categorias">
            <a (click)="searchByValue()">
                <img src="../../../assets/search.png" alt="search">
            </a>
        </div>

        <div class="header-options">
            @if(isAuthenticated){
                <a (click)="navigateToUserPage()">Minha conta</a>
                <a (click)="logout()">Sair</a>
            }@else {
                <a (click)="navigateToCreateUser()">Crie sua conta</a>
                <a (click)="navigateToLogin()">Entre</a>
            }
            @if (allShoppingCartByUser.length > 0) {
                <button id="cart_button" #cart_button (click)="navigateToShoppingCart()">
                    <img src="../../../assets/cart.png" alt="cart-shopping">
                    <div class="value_cart">{{allShoppingCartByUser.length}}</div>
                </button>
            } @else {
                <button (click)="navigateToShoppingCart()">
                    <img src="../../../assets/cart.png" alt="cart-shopping">
                </button>
            }
            <div class="menu-button">
                <button id="openMenu" (click)="openMenu()">
                    <img src="../../../assets/menu.png" alt="menu">
                </button>
            </div>
        </div>
    </div>
</header>
