<footer>
    <a class="back_home" href="">
        Voltar ao início
    </a>

    <div class="container_items_footer">
        <div class="items_footer">
            <h4>ADS.Dev Produtos</h4>
            <div class="logo_footer">
                <a href="">
                    <img src="../../../assets/logo_new.png" alt="logo">
                </a>
            </div>
        </div>

        <div class="items_footer">
            <h4>Contatos</h4>
            <span class="span-items">
                <img src="../../../assets/email.png" alt="email">
                <a href="">francisco.ads.dev&#64;gmail.com</a>
            </span>
            <span class="span-items">
                <img src="../../../assets/whatsapp.png" alt="whatsapp">
                <a href="">(99) 99999-9999</a>
            </span>
            <span class="span-items">
                <img src="../../../assets/instagram.png" alt="instagram">
                <a href="">francisconascimento.dev</a>
            </span>
        </div>
        
        <div class="items_footer">
            <h4>Opções</h4>
            <span class="span-items">
                <img src="../../../assets/cart.png" alt="my-cart">
                <a href="">Meus carrinho</a>
            </span>
            <span class="span-items">
                <img src="../../../assets/profile.png" alt="account">
                <a href="">Minha conta</a>
            </span>
            <span class="span-items">
                <img src="../../../assets/shopping-bag.png" alt="shopping-bag">
                <a href="">Minhas compras</a>
            </span>
        </div>
    </div>

</footer>
